<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisonnier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center">Prisonniers</h1>
    <div class="table-responsive table">
        <table
            class="table table-bordered table-striped table-hover align-middle 
            table-light w-50 mx-auto table-dark text-light">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${prisoner}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-sm shadow-none">Voir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>